*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/

tempo-2.0/examples/
postread/
update/

*.apk
output.json

*release/*

*.log
